//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com:443/:_authToken=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
@anupheaus:registry=https://npm.pkg.github.com:443